body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #121212 !important;
  direction: rtl !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scrollbar mouse */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}
