.completed {
  margin: 15px 0;
  background-color: #1f1f1f;
  border-radius: 15px;
  height: 50px;
}
.show-details {
  height: 80px;
}

.completed-text {
  color: #e3e3e3;
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: context-menu;
  width: 80% !important;
  text-decoration: line-through;
}
.completed-text-detail {
  font-size: 0.8rem;
  color: #b6b6b6;
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: context-menu;
  width: 80% !important;
  text-decoration: line-through;
}
.task-text-need {
  width: 100% !important;
}
.tik {
  background-color: #bb86fc;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #bb86fc;
  border-radius: 5px;
  cursor: pointer;
}
.deleted-icon {
  margin-right: 5px;
  min-width: 1.3rem;
  min-height: 1.3rem;
}
.deleted-icon {
  cursor: pointer;
}
