.text{
    color: #E3E3E3;
    font-size: 2.5rem;
    font-weight: 700;
}
h6{
    color: #b9b7b7;
    font-size: 0.9rem;
    text-justify: auto;
}
.top-label{
    font-weight: 800;
    color: #BB86FC;
    margin: -20px 0 10px 0;
}
.input{
    direction: ltr;
    background-color: transparent !important;
    border: 1px solid #E3E3E3 !important;
}
.input:focus{
    border: 1px solid #BB86FC !important;
    background-color: transparent !important;
    color: #BB86FC !important;
    box-shadow: none !important;
}
.input:focus + .form-label{
    color: #BB86FC !important;
}
form,.input{
    color: #E3E3E3 !important;
}

.btn-login-page{
    color: #1f1f1f !important;
    border: 1px solid #BB86FC !important;
    background-color: #BB86FC !important;
    border-radius: 20px !important;
    font-weight: bold !important;
    margin: 10px 0 !important;
    width: 6em !important;
}
.btn-login-page:hover{
    color: #BB86FC !important;
    border: 1px solid #BB86FC !important;
    background-color: transparent !important;
    border-radius: 20px !important;
}
@media only screen and (max-width : 768px) {
    .from{
        margin: 50px 0;
    }
}
